In [1]:
# Dependencies 
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
import requests
import pymongo

# NASA Mars News

In [2]:
# chrome driver
executable_path = {'executable_path': 'C:/Users/ellis/Downloads/chromedriver_win32/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# visit URL
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
html = browser.html
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html,'html.parser')

# latest news title and article paragraph
news_title = soup.find('div', class_='content_title').find('a').text
news_p = soup.find('div', class_='article_teaser_body').text

# Verify data 
print(news_title)
print(news_p)

InSight Captures Sunrise and Sunset on Mars
InSight joins the rest of NASA's Red Planet surface missions, all of which have photographed either the start or end of a Martian day.

# JPL Mars Space Images - Featured Image

In [10]:
# chrome driver
executable_path = {'executable_path': 'C:/Users/ellis/Downloads/chromedriver_win32/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
# visit url
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)
# Create BeautifulSoup object; parse with 'html.parser'
image_html = browser.html
soup = BeautifulSoup(image_html,'html.parser')

In [12]:
# Find URL for featured image
featured_image_url=soup.find('article')['style'].replace('background-image: url(','').replace(');','')

featured_image_url=featured_image_url[1:-1]

jpl_url='https://www.jpl.nasa.gov'

# image URL
featured_image_url=jpl_url+featured_image_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17254-1920x1200.jpg

# Mars Weather

In [15]:
# chrome driver
executable_path = {'executable_path': 'C:/Users/ellis/Downloads/chromedriver_win32/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(weather_url)

In [16]:
weather_html=browser.html
soup=BeautifulSoup(weather_html,'html.parser')

In [17]:
tweets=soup.find('p',class_='TweetTextSize').text

In [18]:
mars_weather=tweets.replace('InSight','').replace('pic.twitter.com/0KZXlbiuXO','')
mars_weather

' sol 155 (2019-05-04) low -99.3ºC (-146.8ºF) high -18.8ºC (-1.8ºF)\nwinds from the SW at 4.5 m/s (10.1 mph) gusting to 14.3 m/s (31.9 mph)\npressure at 7.40 hPapic.twitter.com/wEcSHS2b3u'

# Mars Facts

In [23]:
facts_url='https://space-facts.com/mars/'
tables=pd.read_html(facts_url)
tables
mars_facts_df=tables[0]
mars_facts_df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [24]:
mars_facts_df.columns=['','Value']
mars_facts_df.set_index('',inplace=True)
mars_facts_df

                                              Value

Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [25]:
mars_facts_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres

In [26]:
# URL
hemi_url='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemi_url)
hemi_html=browser.html
soup=BeautifulSoup(hemi_html,'html.parser')

In [28]:
hemisphere=soup.find_all('div',class_='item')

hemisphere_image_url=[]

for image in hemisphere:
    title=image.find('h3').text
    
    hemi_page_url=image.find('a',class_="itemLink product-item")['href']
    
    hemisphere_base_url='https://astrogeology.usgs.gov'
    
    browser.visit(hemisphere_base_url+hemi_page_url)
    html=browser.html
    
    soup=BeautifulSoup(html,'html.parser')
    
    img_url=soup.find('img',class_='wide-image')['src']
    
    img_url= hemisphere_base_url + img_url
    
    hemisphere_image_url.append({'title':title,'image_url':img_url})
    
hemisphere_image_url

[{'title': 'Cerberus Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]